openexam-with-handler/schemas/core-soap-types.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://soap.core.openexam.bmc.uu.se/" xmlns:tns="http://soap.core.openexam.bmc.uu.se/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="addAdmin" nillable="true" type="tns:addAdmin"/>

  <xs:element name="addAdminResponse" nillable="true" type="tns:addAdminResponse"/>

  <xs:element name="addAssistant" nillable="true" type="tns:addAssistant"/>

  <xs:element name="addAssistantResponse" nillable="true" type="tns:addAssistantResponse"/>

  <xs:element name="addComputer" nillable="true" type="tns:addComputer"/>

  <xs:element name="addComputerResponse" nillable="true" type="tns:addComputerResponse"/>

  <xs:element name="addContributor" nillable="true" type="tns:addContributor"/>

  <xs:element name="addContributorResponse" nillable="true" type="tns:addContributorResponse"/>

  <xs:element name="addDecoder" nillable="true" type="tns:addDecoder"/>

  <xs:element name="addDecoderResponse" nillable="true" type="tns:addDecoderResponse"/>

  <xs:element name="addQuestion" nillable="true" type="tns:addQuestion"/>

  <xs:element name="addQuestionResponse" nillable="true" type="tns:addQuestionResponse"/>

  <xs:element name="addQuestions" nillable="true" type="tns:addQuestions"/>

  <xs:element name="addRoom" nillable="true" type="tns:addRoom"/>

  <xs:element name="addRoomResponse" nillable="true" type="tns:addRoomResponse"/>

  <xs:element name="addStudent" nillable="true" type="tns:addStudent"/>

  <xs:element name="addStudentResponse" nillable="true" type="tns:addStudentResponse"/>

  <xs:element name="addStudents" nillable="true" type="tns:addStudents"/>

  <xs:element name="addTeacher" nillable="true" type="tns:addTeacher"/>

  <xs:element name="addTeacherResponse" nillable="true" type="tns:addTeacherResponse"/>

  <xs:element name="addTopic" nillable="true" type="tns:addTopic"/>

  <xs:element name="addTopicResponse" nillable="true" type="tns:addTopicResponse"/>

  <xs:element name="aquireLock" nillable="true" type="tns:aquireLock"/>

  <xs:element name="createExam" nillable="true" type="tns:createExam"/>

  <xs:element name="createExamResponse" nillable="true" type="tns:createExamResponse"/>

  <xs:element name="deleteAdmin" nillable="true" type="tns:deleteAdmin"/>

  <xs:element name="deleteAssistant" nillable="true" type="tns:deleteAssistant"/>

  <xs:element name="deleteComputer" nillable="true" type="tns:deleteComputer"/>

  <xs:element name="deleteContributor" nillable="true" type="tns:deleteContributor"/>

  <xs:element name="deleteDecoder" nillable="true" type="tns:deleteDecoder"/>

  <xs:element name="deleteExam" nillable="true" type="tns:deleteExam"/>

  <xs:element name="deleteQuestion" nillable="true" type="tns:deleteQuestion"/>

  <xs:element name="deleteRoom" nillable="true" type="tns:deleteRoom"/>

  <xs:element name="deleteStudent" nillable="true" type="tns:deleteStudent"/>

  <xs:element name="deleteTeacher" nillable="true" type="tns:deleteTeacher"/>

  <xs:element name="deleteTopic" nillable="true" type="tns:deleteTopic"/>

  <xs:element name="editComputer" nillable="true" type="tns:editComputer"/>

  <xs:element name="editExam" nillable="true" type="tns:editExam"/>

  <xs:element name="editExamResponse" nillable="true" type="tns:editExamResponse"/>

  <xs:element name="editQuestion" nillable="true" type="tns:editQuestion"/>

  <xs:element name="editRoom" nillable="true" type="tns:editRoom"/>

  <xs:element name="editTopic" nillable="true" type="tns:editTopic"/>

  <xs:element name="getAnswer" nillable="true" type="tns:getAnswer"/>

  <xs:element name="getAnswerResponse" nillable="true" type="tns:getAnswerResponse"/>

  <xs:element name="getAnswers" nillable="true" type="tns:getAnswers"/>

  <xs:element name="getAnswersResponse" nillable="true" type="tns:getAnswersResponse"/>

  <xs:element name="getAssistants" nillable="true" type="tns:getAssistants"/>

  <xs:element name="getAssistantsResponse" nillable="true" type="tns:getAssistantsResponse"/>

  <xs:element name="getComputers" nillable="true" type="tns:getComputers"/>

  <xs:element name="getComputersResponse" nillable="true" type="tns:getComputersResponse"/>

  <xs:element name="getContributors" nillable="true" type="tns:getContributors"/>

  <xs:element name="getContributorsResponse" nillable="true" type="tns:getContributorsResponse"/>

  <xs:element name="getDecoders" nillable="true" type="tns:getDecoders"/>

  <xs:element name="getDecodersResponse" nillable="true" type="tns:getDecodersResponse"/>

  <xs:element name="getExams" nillable="true" type="tns:getExams"/>

  <xs:element name="getExamsResponse" nillable="true" type="tns:getExamsResponse"/>

  <xs:element name="getLocks" nillable="true" type="tns:getLocks"/>

  <xs:element name="getLocksResponse" nillable="true" type="tns:getLocksResponse"/>

  <xs:element name="getQuestions" nillable="true" type="tns:getQuestions"/>

  <xs:element name="getQuestionsResponse" nillable="true" type="tns:getQuestionsResponse"/>

  <xs:element name="getResult" nillable="true" type="tns:getResult"/>

  <xs:element name="getResultResponse" nillable="true" type="tns:getResultResponse"/>

  <xs:element name="getStudents" nillable="true" type="tns:getStudents"/>

  <xs:element name="getStudentsResponse" nillable="true" type="tns:getStudentsResponse"/>

  <xs:element name="getTopics" nillable="true" type="tns:getTopics"/>

  <xs:element name="getTopicsResponse" nillable="true" type="tns:getTopicsResponse"/>

  <xs:element name="releaseLock" nillable="true" type="tns:releaseLock"/>

  <xs:element name="setAnswer" nillable="true" type="tns:setAnswer"/>

  <xs:element name="setAnswerResponse" nillable="true" type="tns:setAnswerResponse"/>

  <xs:element name="setResult" nillable="true" type="tns:setResult"/>

  <xs:element name="setResultResponse" nillable="true" type="tns:setResultResponse"/>

  <xs:complexType name="addComputer">
    <xs:sequence>
      <xs:element name="computer" type="tns:computer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="computer">
    <xs:sequence>
      <xs:element name="created" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="hostname" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="ipaddr" type="xs:string" minOccurs="0"/>
      <xs:element name="lockCollection" type="tns:lock" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="port" type="xs:int"/>
      <xs:element name="roomId" type="tns:room" minOccurs="0"/>
      <xs:element name="updated" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lock">
    <xs:sequence>
      <xs:element name="aquired" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="computerId" type="tns:computer" minOccurs="0"/>
      <xs:element name="examId" type="tns:exam" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exam">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="room">
    <xs:sequence>
      <xs:element name="computerCollection" type="tns:computer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addComputerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addTopic">
    <xs:sequence>
      <xs:element name="topic" type="tns:topic" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="topic">
    <xs:sequence>
      <xs:element name="examId" type="xs:int"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="questionCollection" type="tns:question" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="randomize" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="question">
    <xs:sequence>
      <xs:element name="answerCollection" type="tns:answer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="audio" type="xs:string" minOccurs="0"/>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element name="examId" type="tns:exam" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="image" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="quest" type="xs:string" minOccurs="0"/>
      <xs:element name="score" type="xs:float"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
      <xs:element name="topicId" type="tns:topic" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:element name="user" type="xs:string" minOccurs="0"/>
      <xs:element name="video" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="answer">
    <xs:sequence>
      <xs:element name="answer" type="xs:string" minOccurs="0"/>
      <xs:element name="answered" type="xs:string" minOccurs="0"/>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="questionId" type="tns:question" minOccurs="0"/>
      <xs:element name="resultCollection" type="tns:result" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="studentId" type="tns:student" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="result">
    <xs:sequence>
      <xs:element name="answerId" type="tns:answer" minOccurs="0"/>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="score" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="student">
    <xs:sequence>
      <xs:element name="answerCollection" type="tns:answer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element name="examId" type="tns:exam" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="tag" type="xs:string" minOccurs="0"/>
      <xs:element name="user" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addTopicResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getQuestions">
    <xs:sequence>
      <xs:element name="exam" type="xs:int"/>
      <xs:element name="topic" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getQuestionsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:question" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setAnswer">
    <xs:sequence>
      <xs:element name="answer" type="tns:answer" minOccurs="0"/>
      <xs:element name="question" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setAnswerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addStudents">
    <xs:sequence>
      <xs:element name="exam" type="xs:int"/>
      <xs:element name="students" type="tns:student" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteExam">
    <xs:sequence>
      <xs:element name="exam" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteComputer">
    <xs:sequence>
      <xs:element name="computer" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDecoders">
    <xs:sequence>
      <xs:element name="exam" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDecodersResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:decoder" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="decoder">
    <xs:sequence>
      <xs:element name="examId" type="tns:exam" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="user" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAssistants">
    <xs:sequence>
      <xs:element name="exam" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAssistantsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:assistant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assistant">
    <xs:sequence>
      <xs:element name="examId" type="tns:exam" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="user" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteTeacher">
    <xs:sequence>
      <xs:element name="teacher" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="releaseLock">
    <xs:sequence>
      <xs:element name="computer" type="xs:int"/>
      <xs:element name="exam" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addStudent">
    <xs:sequence>
      <xs:element name="student" type="tns:student" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addStudentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteQuestion">
    <xs:sequence>
      <xs:element name="question" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getExams">
    <xs:sequence>
      <xs:element name="filter" type="tns:exam" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getExamsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:exam" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAnswers">
    <xs:sequence>
      <xs:element name="question" type="xs:int"/>
      <xs:element name="student" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAnswersResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:answer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="editComputer">
    <xs:sequence>
      <xs:element name="computer" type="tns:computer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getContributors">
    <xs:sequence>
      <xs:element name="exam" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getContributorsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:contributor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contributor">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="deleteAdmin">
    <xs:sequence>
      <xs:element name="admin" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAdmin">
    <xs:sequence>
      <xs:element name="admin" type="tns:admin" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="admin">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="user" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAdminResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addDecoder">
    <xs:sequence>
      <xs:element name="decoder" type="tns:decoder" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addDecoderResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteDecoder">
    <xs:sequence>
      <xs:element name="decoder" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTopics">
    <xs:sequence>
      <xs:element name="exam" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTopicsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:topic" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteStudent">
    <xs:sequence>
      <xs:element name="student" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAnswer">
    <xs:sequence>
      <xs:element name="question" type="xs:int"/>
      <xs:element name="student" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAnswerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:answer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="editTopic">
    <xs:sequence>
      <xs:element name="topic" type="tns:topic" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="editQuestion">
    <xs:sequence>
      <xs:element name="question" type="tns:question" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createExam">
    <xs:sequence>
      <xs:element name="exam" type="tns:exam" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createExamResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getStudents">
    <xs:sequence>
      <xs:element name="exam" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getStudentsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:student" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteTopic">
    <xs:sequence>
      <xs:element name="topic" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getComputers">
    <xs:sequence>
      <xs:element name="room" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getComputersResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:computer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAssistant">
    <xs:sequence>
      <xs:element name="assistant" type="tns:assistant" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAssistantResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setResult">
    <xs:sequence>
      <xs:element name="result" type="tns:result" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setResultResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteContributor">
    <xs:sequence>
      <xs:element name="contributor" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteRoom">
    <xs:sequence>
      <xs:element name="room" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addRoom">
    <xs:sequence>
      <xs:element name="room" type="tns:room" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addRoomResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addQuestion">
    <xs:sequence>
      <xs:element name="question" type="tns:question" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addQuestionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="aquireLock">
    <xs:sequence>
      <xs:element name="computer" type="xs:int"/>
      <xs:element name="exam" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteAssistant">
    <xs:sequence>
      <xs:element name="assistant" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="editExam">
    <xs:sequence>
      <xs:element name="exam" type="tns:exam" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="editExamResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getLocks">
    <xs:sequence>
      <xs:element name="exam" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLocksResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:lock" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addQuestions">
    <xs:sequence>
      <xs:element name="exam" type="xs:int"/>
      <xs:element name="questions" type="tns:question" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addContributor">
    <xs:sequence>
      <xs:element name="contributor" type="tns:contributor" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addContributorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addTeacher">
    <xs:sequence>
      <xs:element name="teacher" type="tns:teacher" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="teacher">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="user" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addTeacherResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getResult">
    <xs:sequence>
      <xs:element name="answer" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getResultResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:result" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="editRoom">
    <xs:sequence>
      <xs:element name="room" type="tns:room" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

