phalcon-mvc/schemas/core-soap-service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://soap.core.openexam.bmc.uu.se/" name="OpenExamCoreService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://soap.core.openexam.bmc.uu.se/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://soap.core.openexam.bmc.uu.se/" schemaLocation="?types"/>
    </xsd:schema>
  </types>
  <message name="deleteDecoder">
    <part name="parameters" element="tns:deleteDecoder"/>
  </message>
  <message name="addDecoder">
    <part name="parameters" element="tns:addDecoder"/>
  </message>
  <message name="addDecoderResponse">
    <part name="parameters" element="tns:addDecoderResponse"/>
  </message>
  <message name="addTeacher">
    <part name="parameters" element="tns:addTeacher"/>
  </message>
  <message name="addTeacherResponse">
    <part name="parameters" element="tns:addTeacherResponse"/>
  </message>
  <message name="deleteTeacher">
    <part name="parameters" element="tns:deleteTeacher"/>
  </message>
  <message name="addAdmin">
    <part name="parameters" element="tns:addAdmin"/>
  </message>
  <message name="addAdminResponse">
    <part name="parameters" element="tns:addAdminResponse"/>
  </message>
  <message name="deleteAdmin">
    <part name="parameters" element="tns:deleteAdmin"/>
  </message>
  <message name="addRoom">
    <part name="parameters" element="tns:addRoom"/>
  </message>
  <message name="addRoomResponse">
    <part name="parameters" element="tns:addRoomResponse"/>
  </message>
  <message name="editRoom">
    <part name="parameters" element="tns:editRoom"/>
  </message>
  <message name="deleteRoom">
    <part name="parameters" element="tns:deleteRoom"/>
  </message>
  <message name="addComputer">
    <part name="parameters" element="tns:addComputer"/>
  </message>
  <message name="addComputerResponse">
    <part name="parameters" element="tns:addComputerResponse"/>
  </message>
  <message name="editComputer">
    <part name="parameters" element="tns:editComputer"/>
  </message>
  <message name="addStudent">
    <part name="parameters" element="tns:addStudent"/>
  </message>
  <message name="addStudentResponse">
    <part name="parameters" element="tns:addStudentResponse"/>
  </message>
  <message name="addStudents">
    <part name="parameters" element="tns:addStudents"/>
  </message>
  <message name="aquireLock">
    <part name="parameters" element="tns:aquireLock"/>
  </message>
  <message name="deleteContributor">
    <part name="parameters" element="tns:deleteContributor"/>
  </message>
  <message name="getAssistants">
    <part name="parameters" element="tns:getAssistants"/>
  </message>
  <message name="getAssistantsResponse">
    <part name="parameters" element="tns:getAssistantsResponse"/>
  </message>
  <message name="deleteAssistant">
    <part name="parameters" element="tns:deleteAssistant"/>
  </message>
  <message name="addAssistant">
    <part name="parameters" element="tns:addAssistant"/>
  </message>
  <message name="addAssistantResponse">
    <part name="parameters" element="tns:addAssistantResponse"/>
  </message>
  <message name="getDecoders">
    <part name="parameters" element="tns:getDecoders"/>
  </message>
  <message name="getDecodersResponse">
    <part name="parameters" element="tns:getDecodersResponse"/>
  </message>
  <message name="createExam">
    <part name="parameters" element="tns:createExam"/>
  </message>
  <message name="createExamResponse">
    <part name="parameters" element="tns:createExamResponse"/>
  </message>
  <message name="editExam">
    <part name="parameters" element="tns:editExam"/>
  </message>
  <message name="editExamResponse">
    <part name="parameters" element="tns:editExamResponse"/>
  </message>
  <message name="getStudents">
    <part name="parameters" element="tns:getStudents"/>
  </message>
  <message name="getStudentsResponse">
    <part name="parameters" element="tns:getStudentsResponse"/>
  </message>
  <message name="deleteStudent">
    <part name="parameters" element="tns:deleteStudent"/>
  </message>
  <message name="addQuestion">
    <part name="parameters" element="tns:addQuestion"/>
  </message>
  <message name="addQuestionResponse">
    <part name="parameters" element="tns:addQuestionResponse"/>
  </message>
  <message name="addQuestions">
    <part name="parameters" element="tns:addQuestions"/>
  </message>
  <message name="editQuestion">
    <part name="parameters" element="tns:editQuestion"/>
  </message>
  <message name="deleteQuestion">
    <part name="parameters" element="tns:deleteQuestion"/>
  </message>
  <message name="getQuestions">
    <part name="parameters" element="tns:getQuestions"/>
  </message>
  <message name="getQuestionsResponse">
    <part name="parameters" element="tns:getQuestionsResponse"/>
  </message>
  <message name="addTopic">
    <part name="parameters" element="tns:addTopic"/>
  </message>
  <message name="addTopicResponse">
    <part name="parameters" element="tns:addTopicResponse"/>
  </message>
  <message name="editTopic">
    <part name="parameters" element="tns:editTopic"/>
  </message>
  <message name="deleteTopic">
    <part name="parameters" element="tns:deleteTopic"/>
  </message>
  <message name="getTopics">
    <part name="parameters" element="tns:getTopics"/>
  </message>
  <message name="getTopicsResponse">
    <part name="parameters" element="tns:getTopicsResponse"/>
  </message>
  <message name="setAnswer">
    <part name="parameters" element="tns:setAnswer"/>
  </message>
  <message name="setAnswerResponse">
    <part name="parameters" element="tns:setAnswerResponse"/>
  </message>
  <message name="getAnswer">
    <part name="parameters" element="tns:getAnswer"/>
  </message>
  <message name="getAnswerResponse">
    <part name="parameters" element="tns:getAnswerResponse"/>
  </message>
  <message name="getAnswers">
    <part name="parameters" element="tns:getAnswers"/>
  </message>
  <message name="getAnswersResponse">
    <part name="parameters" element="tns:getAnswersResponse"/>
  </message>
  <message name="deleteComputer">
    <part name="parameters" element="tns:deleteComputer"/>
  </message>
  <message name="getComputers">
    <part name="parameters" element="tns:getComputers"/>
  </message>
  <message name="getComputersResponse">
    <part name="parameters" element="tns:getComputersResponse"/>
  </message>
  <message name="deleteExam">
    <part name="parameters" element="tns:deleteExam"/>
  </message>
  <message name="getExams">
    <part name="parameters" element="tns:getExams"/>
  </message>
  <message name="getExamsResponse">
    <part name="parameters" element="tns:getExamsResponse"/>
  </message>
  <message name="getLocks">
    <part name="parameters" element="tns:getLocks"/>
  </message>
  <message name="getLocksResponse">
    <part name="parameters" element="tns:getLocksResponse"/>
  </message>
  <message name="getContributors">
    <part name="parameters" element="tns:getContributors"/>
  </message>
  <message name="getContributorsResponse">
    <part name="parameters" element="tns:getContributorsResponse"/>
  </message>
  <message name="addContributor">
    <part name="parameters" element="tns:addContributor"/>
  </message>
  <message name="addContributorResponse">
    <part name="parameters" element="tns:addContributorResponse"/>
  </message>
  <message name="setResult">
    <part name="parameters" element="tns:setResult"/>
  </message>
  <message name="setResultResponse">
    <part name="parameters" element="tns:setResultResponse"/>
  </message>
  <message name="getResult">
    <part name="parameters" element="tns:getResult"/>
  </message>
  <message name="getResultResponse">
    <part name="parameters" element="tns:getResultResponse"/>
  </message>
  <message name="releaseLock">
    <part name="parameters" element="tns:releaseLock"/>
  </message>
  <portType name="OpenExamCoreService">
    <operation name="deleteDecoder">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/deleteDecoder" message="tns:deleteDecoder"/>
    </operation>
    <operation name="addDecoder">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addDecoderRequest" message="tns:addDecoder"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addDecoderResponse" message="tns:addDecoderResponse"/>
    </operation>
    <operation name="addTeacher">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addTeacherRequest" message="tns:addTeacher"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addTeacherResponse" message="tns:addTeacherResponse"/>
    </operation>
    <operation name="deleteTeacher">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/deleteTeacher" message="tns:deleteTeacher"/>
    </operation>
    <operation name="addAdmin">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addAdminRequest" message="tns:addAdmin"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addAdminResponse" message="tns:addAdminResponse"/>
    </operation>
    <operation name="deleteAdmin">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/deleteAdmin" message="tns:deleteAdmin"/>
    </operation>
    <operation name="addRoom">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addRoomRequest" message="tns:addRoom"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addRoomResponse" message="tns:addRoomResponse"/>
    </operation>
    <operation name="editRoom">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/editRoom" message="tns:editRoom"/>
    </operation>
    <operation name="deleteRoom">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/deleteRoom" message="tns:deleteRoom"/>
    </operation>
    <operation name="addComputer">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addComputerRequest" message="tns:addComputer"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addComputerResponse" message="tns:addComputerResponse"/>
    </operation>
    <operation name="editComputer">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/editComputer" message="tns:editComputer"/>
    </operation>
    <operation name="addStudent">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addStudentRequest" message="tns:addStudent"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addStudentResponse" message="tns:addStudentResponse"/>
    </operation>
    <operation name="addStudents">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addStudents" message="tns:addStudents"/>
    </operation>
    <operation name="aquireLock">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/aquireLock" message="tns:aquireLock"/>
    </operation>
    <operation name="deleteContributor">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/deleteContributor" message="tns:deleteContributor"/>
    </operation>
    <operation name="getAssistants">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getAssistantsRequest" message="tns:getAssistants"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getAssistantsResponse" message="tns:getAssistantsResponse"/>
    </operation>
    <operation name="deleteAssistant">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/deleteAssistant" message="tns:deleteAssistant"/>
    </operation>
    <operation name="addAssistant">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addAssistantRequest" message="tns:addAssistant"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addAssistantResponse" message="tns:addAssistantResponse"/>
    </operation>
    <operation name="getDecoders">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getDecodersRequest" message="tns:getDecoders"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getDecodersResponse" message="tns:getDecodersResponse"/>
    </operation>
    <operation name="createExam">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/createExamRequest" message="tns:createExam"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/createExamResponse" message="tns:createExamResponse"/>
    </operation>
    <operation name="editExam">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/editExamRequest" message="tns:editExam"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/editExamResponse" message="tns:editExamResponse"/>
    </operation>
    <operation name="getStudents">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getStudentsRequest" message="tns:getStudents"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getStudentsResponse" message="tns:getStudentsResponse"/>
    </operation>
    <operation name="deleteStudent">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/deleteStudent" message="tns:deleteStudent"/>
    </operation>
    <operation name="addQuestion">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addQuestionRequest" message="tns:addQuestion"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addQuestionResponse" message="tns:addQuestionResponse"/>
    </operation>
    <operation name="addQuestions">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addQuestions" message="tns:addQuestions"/>
    </operation>
    <operation name="editQuestion">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/editQuestion" message="tns:editQuestion"/>
    </operation>
    <operation name="deleteQuestion">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/deleteQuestion" message="tns:deleteQuestion"/>
    </operation>
    <operation name="getQuestions">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getQuestionsRequest" message="tns:getQuestions"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getQuestionsResponse" message="tns:getQuestionsResponse"/>
    </operation>
    <operation name="addTopic">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addTopicRequest" message="tns:addTopic"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addTopicResponse" message="tns:addTopicResponse"/>
    </operation>
    <operation name="editTopic">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/editTopic" message="tns:editTopic"/>
    </operation>
    <operation name="deleteTopic">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/deleteTopic" message="tns:deleteTopic"/>
    </operation>
    <operation name="getTopics">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getTopicsRequest" message="tns:getTopics"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getTopicsResponse" message="tns:getTopicsResponse"/>
    </operation>
    <operation name="setAnswer">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/setAnswerRequest" message="tns:setAnswer"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/setAnswerResponse" message="tns:setAnswerResponse"/>
    </operation>
    <operation name="getAnswer">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getAnswerRequest" message="tns:getAnswer"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getAnswerResponse" message="tns:getAnswerResponse"/>
    </operation>
    <operation name="getAnswers">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getAnswersRequest" message="tns:getAnswers"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getAnswersResponse" message="tns:getAnswersResponse"/>
    </operation>
    <operation name="deleteComputer">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/deleteComputer" message="tns:deleteComputer"/>
    </operation>
    <operation name="getComputers">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getComputersRequest" message="tns:getComputers"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getComputersResponse" message="tns:getComputersResponse"/>
    </operation>
    <operation name="deleteExam">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/deleteExam" message="tns:deleteExam"/>
    </operation>
    <operation name="getExams">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getExamsRequest" message="tns:getExams"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getExamsResponse" message="tns:getExamsResponse"/>
    </operation>
    <operation name="getLocks">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getLocksRequest" message="tns:getLocks"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getLocksResponse" message="tns:getLocksResponse"/>
    </operation>
    <operation name="getContributors">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getContributorsRequest" message="tns:getContributors"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getContributorsResponse" message="tns:getContributorsResponse"/>
    </operation>
    <operation name="addContributor">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addContributorRequest" message="tns:addContributor"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/addContributorResponse" message="tns:addContributorResponse"/>
    </operation>
    <operation name="setResult">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/setResultRequest" message="tns:setResult"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/setResultResponse" message="tns:setResultResponse"/>
    </operation>
    <operation name="getResult">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getResultRequest" message="tns:getResult"/>
      <output wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/getResultResponse" message="tns:getResultResponse"/>
    </operation>
    <operation name="releaseLock">
      <input wsam:Action="http://soap.core.openexam.bmc.uu.se/OpenExamCoreService/releaseLock" message="tns:releaseLock"/>
    </operation>
  </portType>
  <binding name="OpenExamCoreServicePortBinding" type="tns:OpenExamCoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteDecoder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="addDecoder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addTeacher">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteTeacher">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="addAdmin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteAdmin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="addRoom">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editRoom">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="deleteRoom">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="addComputer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editComputer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="addStudent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addStudents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="aquireLock">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="deleteContributor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getAssistants">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteAssistant">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="addAssistant">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDecoders">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createExam">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editExam">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getStudents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteStudent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="addQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addQuestions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="editQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="deleteQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getQuestions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addTopic">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editTopic">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="deleteTopic">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getTopics">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setAnswer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAnswer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAnswers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteComputer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getComputers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteExam">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getExams">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLocks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getContributors">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addContributor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setResult">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getResult">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="releaseLock">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="OpenExamCoreService">
    <port name="OpenExamCoreServicePort" binding="tns:OpenExamCoreServicePortBinding">
      <soap:address location="@SOAP_ADDRESS_LOCATION@"/>
    </port>
  </service>
</definitions>

